.navbar-lewagon {
  justify-content: space-evenly;
  background: #F6F4F0;
  font-size: 16px;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-logo{
  img {
    
    margin-right: 0px !important;
    position: relative;
    border-radius: 50%;
    height: 45px;
    width: auto;
  }
}

@media only screen and (max-width: 600px) {
  .navbar-logo{
    img{
      height: 40px;
      width: auto;
    }
  }
  .navbar-lewagon{
    font-size: 12px;
  }
}

@media only screen and (min-width: 768px) {
  .navbar-logo{
    img{
      height: 60px;
      width: auto;
    }
  }
  .navbar-lewagon{
    font-size: 16px;
  }
}
@media screen and (min-width: 1000px) { 
  .navbar-lewagon {
    justify-content: space-evenly;
    font-size: 18px;
  }
  .navbar-logo {
    img {
      height: 72px;
      width: auto;
    }
  }
}
