@import "components/index";

@import "config/colors";
@import "config/fonts";

a {
  text-decoration: none;
}

body {
  background-color: #F6F4F0;
}

.coming-soon {
  span{
    font-size: 32px;
    color: #A68C69;
    font-weight: 300;
  }
  text-align: center;
}